<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Falcon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2775E91C67D3F6002F81F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2775FD1C67D3F6002F81F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2776081C67D3F6002F81F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
